/*
/*/

*.log

!/.gitignore
!/README.md
!/FAQ.md
!/docker/
/docker/addfolder/
!/DQA_Tool/
!/DQA_Tool/app/
!/data-raw/
!/R/
!/tests/
!/.Rbuildignore
!/DESCRIPTION
!/LICENSE.md
!/inst/
!/man/
!/NAMESPACE
/inst/application/_settings/
.Rproj.user
*.Rproj
.RData
.Rhistory
