/*
/*/

*.log

!/.gitignore
!/README.md
!/FAQ.md
!/docker/
/docker/addfolder/
!/DQA_Tool/
!/DQA_Tool/app/
!/data-raw/
!/R/
!/tests/
!/.Rbuildignore
!/DESCRIPTION
!/LICENSE.md
!/inst/
!/man/
!/NAMESPACE
/inst/application/_settings/
.Rproj.user
*.Rproj
.RData
.Rhistory
inst/application/_settings/
.Rproj*
data-raw/table.csv
data-raw/TODO.R
data-raw/debug-plotting.R
tests/testthat/Rplots.pdf
tests/testthat/plotdir/
inst/application/_utilities/MDR/.~lock.*
